.choose {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 20px;
    margin-right: 10px;
}
.selectCountry {
    font: inherit;
    padding: 0.4rem 2rem;
    font-weight: bold;
    border-radius: 6px;
}
.dropdown__control {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
}

.dropdown {
    color: darkblue;
    padding: 0 1rem;
}